
<div class="registration-container">

  <form (submit)="register($event)" class="registration-form" [formGroup]="registrationForm" validate >
    <mat-error style="right: 0px" *ngIf="registrationForm.hasError('error')">
        {{"Errors.EmptyFields" | translate}}
      </mat-error>
    <ng-container *ngTemplateOutlet="template">

    </ng-container>

    <div class="activity-container">
      <div class="activities">
        <button *ngIf="template !== user && template !== organization"  type="button" [routerLink]="['/authorization']" mat-button>{{"Buttons.SignIn" | translate}}</button>
        <button *ngIf="template !== default" type="submit" mat-button>{{"Buttons.SignUp" | translate}}</button>
      </div>
      <button *ngIf="template !== default" type="button" (click)="template=default; registrationForm.reset()" mat-button>{{"Buttons.Back" | translate}}</button>
    </div>

  </form>
</div>

<ng-template #default>
  <div class="register-btns-container">
    <button (click)="getUserRegist()" mat-button class="register-btn">{{"Buttons.RegistAsUser" | translate}}</button>
    <button (click)="getOrganRegist()" mat-button class="register-btn">{{"Buttons.RegistAsOrg" | translate}}</button>
  </div>
</ng-template>

<ng-template #user>
  <mat-form-field class="registration_fields">
    <input matInput placeholder="{{'User.FirstName' | translate}}*" [formControl]="registrationForm.controls['firstName']"
      [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['firstName'].hasError('required')">
        {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['firstName'].hasError('pattern')">
        {{'Errors.UserName' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['firstName'].hasError('minlength')">
      {{'Errors.NameShouldContain' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="registration_fields">
    <input matInput placeholder="{{'User.LastName' | translate}}*" [formControl]="registrationForm.controls['lastName']" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['lastName'].hasError('required')">
      {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['lastName'].hasError('pattern')">
      {{'Errors.UserLastName' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['lastName'].hasError('minlength')">
      {{'Errors.NameShouldContain' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="registration_fields">
    <input matInput placeholder="{{'User.Email' | translate}}*" [formControl]="registrationForm.controls['email']" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
        {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
        {{'Errors.Email' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="registration_fields">
    <input type="password" matInput placeholder="{{'User.Pass' | translate}}*" [formControl]="registrationForm.controls['password']" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
        {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength')">
      {{'Errors.LittlePass' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="registrationForm.hasError('badRequest')">
    {{"Errors.UserAlreadyExist" | translate}}
  </mat-error>
</ng-template>

<ng-template #organization>
  <mat-form-field class="registration_fields">
    <input matInput placeholder="{{'Organisation.Name' | translate}}*" [formControl]="registrationForm.controls['name']" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['name'].hasError('required')">
        {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['name'].hasError('pattern')">
      {{'Errors.UserName' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['name'].hasError('minlength')">
        {{'Errors.NameShouldContain' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="registration_fields">
    <input matInput placeholder="{{'Organisation.Email' | translate}}*" [formControl]="registrationForm.controls['email']" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
        {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
        {{'Errors.Email' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="registration_fields">
    <input matInput placeholder="{{'Organisation.Phone' | translate}}*" [formControl]="registrationForm.controls['phone']" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['phone'].hasError('required')">
        {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['phone'].hasError('pattern')">
        {{'Errors.Phone' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="registration_fields">
    <input type="password" matInput placeholder="{{'User.Pass' | translate}}*" [formControl]="registrationForm.controls['password']" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
        {{'Errors.Required' | translate}}
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength')">
        {{'Errors.LittlePass' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="registrationForm.hasError('badRequest')">
    {{"Errors.OrgAlreadyExist" | translate}}
  </mat-error>
    <div style="display: flex; align-items: center; justify-content: space-around;">
      <button style="height: 50px; display: block;" type="button" (click)="file.click()" style="color: black; font-size: 18px;">{{"Buttons.PutCertificate" | translate}}</button>
      <img style="border: none" width="75px" height="75px" #certificate alt="">
    </div>

    <input (change)="changeVal($event)" style="visibility:hidden; color: white;" #file type="file">


</ng-template>
