<div class="authorization-container">
  <form (submit)="signIn()" class="authorization-form" [formGroup]="authorizationForm" validate>
    <mat-form-field class="authorization_fields">
      <input matInput placeholder="{{'User.Email' | translate}}*" [formControl]="authorizationForm.controls['email']">
      <mat-error *ngIf="authorizationForm.controls['email'].hasError('required')">
        {{"Errors.Required" | translate}}
      </mat-error>
      <mat-error *ngIf="authorizationForm.controls['email'].hasError('email')">
          {{"Errors.Email" | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="authorization_fields">
      <input type="password" matInput placeholder="{{'User.Pass' | translate}}*" [formControl]="authorizationForm.controls['password']">
      <mat-error *ngIf="authorizationForm.controls['password'].hasError('required')">
          {{"Errors.Required" | translate}}
      </mat-error>
      <mat-error *ngIf="authorizationForm.controls['password'].hasError('minlength')">
        {{"Errors.LittlePass" | translate}}
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="authorizationForm.hasError('badRequest')">
        {{"Errors.EmailOrPass" | translate}}
    </mat-error>

    <div class="activity-container">
      <button type="button" [routerLink]="['/registration']" mat-button>{{"Buttons.SignUp" | translate}}</button>
      <button type="submit" mat-button>{{"Buttons.SignIn" | translate}}</button>
    </div>
  </form>
</div>
