<nav class="nav-container">
  <div class="nav-main">
    <div [routerLink]="'/'" class="logo">
      <mat-icon style="font-size: 40px">pets</mat-icon>
    </div>

    <div style="display: flex; align-items: center;">
        <span style="margin-right: 5px;">En</span>
        <mat-slide-toggle (change)="changeLang($event)" [color]="'primary'" [checked]="checked">Ua</mat-slide-toggle>
    </div>


    <div class="links" style="text-align: center">
      <ul class="link-list">
        <li class="link"><a [routerLink]="['/need-help']">{{"NeedHelp" | translate}}</a></li>
        <li class="link"><a [routerLink]="['/rescued']">{{"Rescued" | translate}}</a></li>
      </ul>
    </div>
  </div>
  <div class="profile">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="profile_icon" style="font-size: 40px;"
        >account_circle</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">{{"Profile" | translate}}</button>
      <button *ngIf="Role.Admin === role" mat-menu-item [routerLink]="['/new-org']">{{"NewOrganisations" | translate}}</button>
      <button (click)="logout()" mat-menu-item>{{"Logout" | translate}}</button>
    </mat-menu>
  </div>
</nav>
