/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a, a :active, a :visited{
  outline: none;
  text-decoration: none;
  color: black;
}


